In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [26]:
#path for data
daily_master_path = 'Resources/daily_returns_master.csv'
daily_stats_path = 'Resources/average_daily_statistics.csv'
yearly_stats_path = 'Resources/average_yearly_statistics.csv'
yearly_master_path = 'Resources/yearly_returns_master.csv'
kaggle_clean_path = 'Resources/kaggle_clean.csv'
#load data into pandas
daily_master_df = pd.read_csv(daily_master_path)
daily_stats_df = pd.read_csv(daily_stats_path)
yearly_stats_df = pd.read_csv(yearly_stats_path)
yearly_master_df = pd.read_csv(yearly_master_path)
kaggle_clean_df = pd.read_csv(kaggle_clean_path)

In [27]:
#Generate symbol list for each classification
symbols = daily_master_df['symbol'].unique()
ai_symbols = kaggle_clean_df['symbol'].unique()
index_symbols = np.array([sym for sym in symbols if sym not in ai_symbols])

In [31]:
#segment dataframes for each box plot
ai_daily = daily_master_df[daily_master_df['symbol'].isin(ai_symbols)]
index_daily = daily_master_df[daily_master_df['symbol'].isin(index_symbols)]

In [13]:
fig, ax = plt.subplots()

   symbol  year  average_daily_return  average_closing_price  volatility
0     AMD  2019              0.003357              31.996985    0.029594
1    TSLA  2019              0.002608              17.666714    0.030528
2    NVDA  2019              0.001772              45.159284    0.022850
3    META  2019              0.001214             187.937738    0.015747
4     NOW  2019              0.000953             265.171809    0.021432
..    ...   ...                   ...                    ...         ...
70    NOW  2024              0.000474             751.299313    0.018441
71     AI  2024             -0.000895              26.397647    0.041751
72   INDU  2024             -0.001066               7.576863    0.018357
73   PATH  2024             -0.002413              22.040882    0.026201
74   TSLA  2024             -0.002730             185.618530    0.035188

[75 rows x 5 columns]