In [1]:
# Dependencies and setup
import pandas as pd
import os

# kaggle csv path
top_AI_path = "Resources/Raw/top_10_ai_stocks.csv"

# Read the Top 10 AI data
top_AI_df = pd.read_csv(top_AI_path)

# Display head of data to preview
top_AI_df.head()

,symbol,date,open,high,low,close,volume,adjusted
0,NVDA,1999-01-22,0.437500,0.488281,0.388021,0.410156,271468800,0.376237
1,NVDA,1999-01-25,0.442708,0.458333,0.410156,0.453125,51048000,0.415652
2,NVDA,1999-01-26,0.458333,0.467448,0.411458,0.417969,34320000,0.383404
3,NVDA,1999-01-27,0.419271,0.429688,0.395833,0.416667,24436800,0.382210
4,NVDA,1999-01-28,0.416667,0.419271,0.412760,0.415365,22752000,0.381015

In [2]:
# Define start date and end date of focus
start_date = "2014-06-01"
end_date = "2024-05-31"

In [3]:
# Limit the data to the timeframe we want
kaggle_adjust = top_AI_df[(top_AI_df["date"] >= start_date) & (top_AI_df["date"] <= end_date)]

In [4]:
#define path to Resources folder
resources_path = "Resources"

file_path = os.path.join(resources_path, "kaggle_adjust.csv")
kaggle_adjust.to_csv(file_path, index=False, header=True)

In [5]:
#drop adjusted column
kaggle_cleaned = kaggle_adjust.drop("adjusted", axis=1)

In [6]:
#define path to Resources folder
resources_path = "Resources"

file_path = os.path.join(resources_path, "kaggle_clean.csv")
kaggle_cleaned.to_csv(file_path, index=False, header=True)

In [7]:
kaggle_adjust.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21768 entries, 3863 to 38515
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   symbol    21768 non-null  object
 1   date      21768 non-null  object
 2   open      21768 non-null  float64
 3   high      21768 non-null  float64
 4   low       21768 non-null  float64
 5   close     21768 non-null  float64
 6   volume    21768 non-null  int64
 7   adjusted  21768 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.5+ MB

In [8]:
kaggle_adjust.isnull().sum()

symbol      0
date        0
open        0
high        0
low         0
close       0
volume      0
adjusted    0
dtype: int64

In [9]:
kaggle_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21768 entries, 3863 to 38515
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  21768 non-null  object
 1   date    21768 non-null  object
 2   open    21768 non-null  float64
 3   high    21768 non-null  float64
 4   low     21768 non-null  float64
 5   close   21768 non-null  float64
 6   volume  21768 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.3+ MB

In [10]:
kaggle_cleaned.isnull().sum()

symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64